<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
	</head>
	<body>
		{{>header}}
		<h6>
			{{screamIt welcome}}
		</h6>
		<p>Rishabh is not so smart</p>

		{{>footer}}
	</body>
</html>